:root {
  --wiki-color-dark-red: #5f1616;
  --wiki-color-medium-red: #b12a2a;
  --wiki-color-light-red: #fbdfdf;
  --wiki-color-focus-red: #f3cdcd;
  --wiki-color-dark:#212529;
  --wiki-color-light-gray:#e5e5e5;
  --wiki-color-white:#ffffff;
}